@model List<QuickFix.web.Models.Service>

@{
    ViewData["Title"] = "Services";
}

<div class="container mt-5">

    <div class="d-flex justify-content-between mb-4">

        <h2>Service List</h2>

        <a asp-action="Create" class="btn btn-success">
            + Add Service
        </a>

    </div>

    <table class="table table-bordered table-striped">

        <thead class="table-dark">

            <tr>
                <th>ID</th>
                <th>Service</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>Action</th>
            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Id</td>

                    <td>@item.ServiceName</td>

                    <td>@item.Description</td>

                    <td>₹ @item.Price</td>

                    <td>@item.ImageUrl</td>

                    <td>

                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn btn-warning btn-sm">

                            Edit

                        </a>

                        <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-danger btn-sm ms-2">

                            Delete

                        </a>

                    </td>

                </tr>
            }

        </tbody>

    </table>

</div>